.setting-page > .setting-box > .setting-body > .setting-address {
    width: 100%;
    height: 100%;
}

.setting-page > .setting-box > .setting-body > .setting-address > .address-action {
    text-align: right;
}

.setting-page > .setting-box > .setting-body > .setting-address > .address-action a button {
    width: 20%;
    height: 40px;
    cursor: pointer;
    font-weight: 700;
    color: white;
    background-color: #61c156;
    border-color: transparent;
    border-radius: 7px;
}

.setting-page > .setting-box > .setting-body > .setting-address > .address-list {
    height: 96%;
    overflow: auto;
    margin-right: -20px;
}

.setting-page > .setting-box > .setting-body > .setting-address > .address-list > .address-box {
    border-radius: 10px;
    border-style: solid;
    border-color: #61c156;
    background-color: rgb(252, 252, 239);
    margin: 10px 20px 10px 0;
    padding: 15px 25px;
}

.setting-page > .setting-box > .setting-body > .setting-address > .address-list > .address-box p {
    margin: 5px 0;
}

.setting-page > .setting-box > .setting-body > .setting-address > .address-list > .address-box .property {
    font-size: 14px;
    font-weight: 700;
}

.setting-page > .setting-box > .setting-body > .setting-address > .address-list > .address-box .status {
    font-size: 14px;
    font-weight: 700;
    margin-left: 20px;
    padding: 3px;
    background-color: #61c156;
    color: white;
    border-radius: 5px;
}

.setting-page > .setting-box > .setting-body > .setting-address > .address-list > .address-box .customer-name {
    font-size: 24px;
    font-weight: 700;
}

.setting-page > .setting-box > .setting-body > .setting-address > .address-list > .address-box a {
    font-size: 14px;
    font-weight: 800;
    text-decoration: none;
    color: #4f9e4f;
}

/* Mobile L */
@media screen and (min-width: 376px) and (max-width: 425px) {
    .setting-page > .setting-box > .setting-body > .setting-address {
        width: 53vh;
    }
    .setting-page > .setting-box > .setting-body > .setting-address > .address-action a button {
        width: 35%;
        height: 25px;
        font-size: 10px;
    }
    .setting-page > .setting-box > .setting-body > .setting-address > .address-list > .address-box p {
        font-size: 10px;
    }
    .setting-page > .setting-box > .setting-body > .setting-address > .address-list > .address-box .property {
        font-size: 10px;
    }
    .setting-page > .setting-box > .setting-body > .setting-address > .address-list > .address-box .status {
        font-size: 10px;
        font-weight: 600;
        margin-left: 40px;
        padding: 5px;
    }
    .setting-page > .setting-box > .setting-body > .setting-address > .address-list > .address-box .customer-name {
        font-size: 14px;
    }
    .setting-page > .setting-box > .setting-body > .setting-address > .address-list > .address-box a {
        font-size: 12px;
        font-weight: 600;
    }
}

/* Mobile M */
@media screen and (min-width: 321px) and (max-width: 375px) {
    .setting-page > .setting-box > .setting-body > .setting-address {
        width: 45vh;
    }
    .setting-page > .setting-box > .setting-body > .setting-address > .address-action a button {
        width: 40%;
        height: 25px;
        font-size: 10px;
    }
    .setting-page > .setting-box > .setting-body > .setting-address > .address-list > .address-box p {
        font-size: 10px;
    }
    .setting-page > .setting-box > .setting-body > .setting-address > .address-list > .address-box .property {
        font-size: 10px;
    }
    .setting-page > .setting-box > .setting-body > .setting-address > .address-list > .address-box .status {
        font-size: 10px;
        font-weight: 600;
        margin-left: 40px;
        padding: 5px;
    }
    .setting-page > .setting-box > .setting-body > .setting-address > .address-list > .address-box .customer-name {
        font-size: 14px;
    }
    .setting-page > .setting-box > .setting-body > .setting-address > .address-list > .address-box a {
        font-size: 12px;
        font-weight: 600;
    }
}

/* Mobile S */
@media screen and (max-width: 320px) {
    .setting-page > .setting-box > .setting-body > .setting-address {
        width: 40vh;
    }
    .setting-page > .setting-box > .setting-body > .setting-address > .address-action a button {
        width: 50%;
        height: 25px;
        font-size: 10px;
    }
    .setting-page > .setting-box > .setting-body > .setting-address > .address-list > .address-box p {
        font-size: 8px;
    }
    .setting-page > .setting-box > .setting-body > .setting-address > .address-list > .address-box .property {
        font-size: 8px;
    }
    .setting-page > .setting-box > .setting-body > .setting-address > .address-list > .address-box .status {
        font-size: 8px;
        font-weight: 600;
        margin-left: 40px;
        padding: 5px;
    }
    .setting-page > .setting-box > .setting-body > .setting-address > .address-list > .address-box .customer-name {
        font-size: 12px;
    }
    .setting-page > .setting-box > .setting-body > .setting-address > .address-list > .address-box a {
        font-size: 8px;
        font-weight: 700;
    }
}