.loginBox {
    width: 350px;
    max-height: 500px;
    box-shadow: 0 4px 8px 0 grey;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    margin-top: -100px;
    margin-left: -200px;
    left: 50%;
    top: 50%;
}

.loginBox > .titleBox {
    color: green;
    font-weight: 400;
}

.loginBox > .logoText {
    max-width: 50%;
}

.loginBox > .sloganLine {
    background-color: #61c156;
    margin: 0;
    text-align: center;
    padding: 8px;
}

.loginBox > .sloganLine > .sloganText {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 20px;
}

.loginBox > .formLogin {
    margin-top: 20px;
}

.loginBox > .formLogin ::placeholder {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    color: lightgray;
}

.loginBox > .formLogin .email,
.loginBox > .formLogin .password {
    margin-bottom: 7px;
    padding: 5px 10px 5px 10px;
    width: 70%;
    border-radius: 5px;
}

.loginBox > .formLogin > .login {
    margin: 5px 0 20px 0;
    width: 70%;
    background-color: #61c156;
    border: 0px;
    padding: 6px 0 6px 0;
    color: white;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

.loginBox > .formLogin > .login:hover {
    cursor: pointer;
}