@import url(login-page.css);
@import url(performance.css);
@import url(product.css);
@import url(product-create.css);
@import url(category.css);
@import url(orders.css);
@import url(orders-detail.css);
@import url(customerlist.css);
@import url(banner.css);
@import url(notification.css);


@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: #61c156;
    border-radius: 20px;
}

footer {
    text-align: center;
    margin: 15px;
}

header {
    background-color: white;
    position: sticky;
    z-index: 101;
    top: 0;
    box-shadow: 0 0 10px 0 grey;
    display: flex;
    width: 100%;
    height: 60px;
}

header > .left-navbar {
    display: flex;
    width: 87%;
}

header > .left-navbar > .fa-bars {
    font-size: 24px;
    margin: auto 30px auto 30px;
    cursor: pointer;
}

header > .left-navbar > .navbar-logo {
    max-width: 120px;
    margin: auto 0 auto 0;

}

header > .right-navbar {
    display: flex;
    width: 13%;
    align-items: center;
}

header > .right-navbar a {
    text-decoration: none;
}

header > .right-navbar .fa-bell {
    margin: auto 0 auto auto;
    font-size: 20px;
    color: black;
}

header > .right-navbar > .profile-box {
    margin: auto;
    box-shadow: 0px 2px 2px 1px grey;
    border-radius: 3px;
    display: flex;
    padding: 2px;
}

header > .right-navbar > .profile-box > .fa-circle {
    margin: 5px 10px 5px 15px;
    font-size: 20px;
}

header > .right-navbar > .profile-box > p {
    margin: auto 25px auto 5px;
    font-size: 14px;
}

.sidebar {
    position: fixed;
    z-index: 100;
    float: left;
    width: 15%;
    background-color: #61c156;
    height: 93.5vh;
    display: flex;
    flex-direction: column;
}

.sidebar > .menu-bar {
    height: 91.7%;
}

.sidebar > .menu-bar > .menu > .menu-link > .nav-link {
    list-style: none;
}

.sidebar > .menu-bar > .menu > .menu-link > .nav-link > a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    align-items: center;
    display: flex;
    padding: 20px;
}

.sidebar > .menu-bar > .menu > .menu-link > .nav-link > a:hover {
    color: grey;
    background-color: white;
}

.sidebar > .menu-bar > .menu > .menu-link > .nav-link > a > i {
    padding: 0 30px 0 10px;
}

.sidebar > .bottom-content {
    height: 8.3%;
}

.sidebar > .bottom-content > li {
    list-style: none;
}

.sidebar > .bottom-content > li > a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    align-items: center;
    display: flex;
    padding: 20px;
}

.sidebar > .bottom-content > li > a:hover {
    color: grey;
    background-color: white;
}

.sidebar > .bottom-content > li > a > i {
    padding: 0 25px 0 10px;
}

.sidebar.close {
    width: 78px;
}

.sidebar.close > .menu-bar > .menu > .menu-link > li > a > span {
    visibility: hidden;
}

.sidebar.close > .bottom-content > li > a > span {
    visibility: hidden ;
}