header {
    background-color: white;
    position: sticky;
    z-index: 101;
    top: 0;
    box-shadow: 0 0 10px 0 grey;
    display: flex;
    width: 100%;
    height: 60px;
}

header > .left-navbar {
    display: flex;
    width: 87%;
}

header > .left-navbar > .fa-bars {
    font-size: 24px;
    margin: auto 30px auto 30px;
}

header > .left-navbar > .navbar-logo {
    max-width: 120px;
    margin: auto 0 auto 0;

}

header > .right-navbar {
    display: flex;
    width: 13%;
}

header > .right-navbar > .fa-bell {
    margin: auto 0 auto auto;
    font-size: 20px;
}

header > .right-navbar > .profile-box {
    margin: auto;
    box-shadow: 0px 2px 2px 1px grey;
    border-radius: 3px;
    display: flex;
    padding: 2px;
}

header > .right-navbar > .profile-box > .fa-circle {
    margin: 5px 10px 5px 15px;
    font-size: 20px;
}

header > .right-navbar > .profile-box > p {
    margin: auto 25px auto 5px;
    font-size: 14px;
}

menu {
    float: left;
    width: 4%;
    background-color: #61c156;
    height: 93.5vh;
    display: flex;
    flex-direction: column;
}

menu > div {
    display: flex;
    flex-direction: column;
    height: 95%;
}

menu > div, 
.fa-arrow-right-from-bracket {
    text-align: center;
    font-size: 24px;
}

menu > div i, 
.fa-arrow-right-from-bracket {
    padding: 15px;
    color: white;
    width: 100%;
    height: 60px;
}

menu > div i:hover,
.fa-arrow-right-from-bracket:hover {
    background-color: white;
    color: grey;
    cursor: pointer;
}

.peformance {
    float: right;
    width: 96%;
    padding: 0 30px 0 30px;
}

.peformance > .income-box {
    display: flex;
    height: 30%;
}

.peformance > .income-box > .income-box-preview {
    width: 32%;
    margin: 20px auto 20px auto;
    box-shadow: 0 3px 7px 0 grey;
    border-radius: 10px;
    text-align: center;
}

.peformance > .income-box > .income-box-preview > .income-title {
    background-color: #61c156;
    padding: 18px 0;
    border-radius: 10px 10px 0 0;
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.peformance > .income-box > .income-box-preview > .income-detail {
    margin: 30px auto;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
}

.peformance > .status-box {
    display: flex;
    height: 25%;
}

.peformance > .status-box > .status-box-preview {
    width: 24%;
    margin: 5px auto 5px auto;
    box-shadow: 0 3px 7px 0 grey;
    border-radius: 10px;
    text-align: center;
    display: flex;
    background-color: white;
}

.peformance > .status-box > .status-box-preview > .status-color-pending,
.peformance > .status-box > .status-box-preview > .status-color-success,
.peformance > .status-box > .status-box-preview > .status-color-expired,
.peformance > .status-box > .status-box-preview > .status-color-failed {
    width: 5%;
    border-radius: 10px 0 0 10px;
}

.peformance > .status-box > .status-box-preview > .status-color-pending {
    background-color: purple;
}

.peformance > .status-box > .status-box-preview > .status-color-success {
    background-color: gold;
}

.peformance > .status-box > .status-box-preview > .status-color-expired {
    background-color: orange;
}

.peformance > .status-box > .status-box-preview > .status-color-failed {
    background-color: darkred;
}

.peformance > .status-box > .status-box-preview > .status-detail {
    width: 50%;
}

.peformance > .status-box > .status-box-preview > .status-detail > .status-detail-title {
    margin: 20px;
}

.peformance > .status-box > .status-box-preview > .status-detail > .status-detail-info {
    margin: 10px auto 40px auto;
    font-weight: 700;
    font-size: 40px;
}

.peformance > .status-box > .status-box-preview > .fa-clock-rotate-left,
.peformance > .status-box > .status-box-preview > .fa-circle-check,
.peformance > .status-box > .status-box-preview > .fa-triangle-exclamation,
.peformance > .status-box > .status-box-preview > .fa-circle-xmark {
    width: 40%;
    margin: auto;
    font-size: 64px;
}

.peformance > .status-box > .status-box-preview > .fa-clock-rotate-left,
.peformance > .recent-order-box > .recent-order-table > tbody > tr > td > #pending {
    color: purple;
}

.peformance > .status-box > .status-box-preview > .fa-circle-check,
.peformance > .recent-order-box > .recent-order-table > tbody > tr > td > #success {
    color: gold;
}

.peformance > .status-box > .status-box-preview > .fa-triangle-exclamation,
.peformance > .recent-order-box > .recent-order-table > tbody > tr > td > #expired {
    color: orange;
}

.peformance > .status-box > .status-box-preview > .fa-circle-xmark,
.peformance > .recent-order-box > .recent-order-table > tbody > tr > td > #failed {
    color: darkred;
}

.peformance > .recent-order-box {
    margin: 15px auto 0 auto;
    height: 45%;
    width: 99%;
    border-radius: 10px;
    box-shadow: 0 3px 7px 0 grey;
}

.peformance > .recent-order-box > .recent-order-title {
    display: flex;
}

.peformance > .recent-order-box > .recent-order-title > p {
    width: 97%;
    margin: auto 0 auto 30px;
    font-weight: 700;
    font-size: 24px;
}

.peformance > .recent-order-box > .recent-order-title > i {
    width: 3%;
    font-size: 28px;
    margin: 20px;
}

.peformance > .recent-order-box > .recent-order-table {
    overflow: auto;
    max-height: 80%;
    display: flex;
    flex-direction: column;
}