.sidebar.close ~ .product-create {
    left: 78px;
    height: 100%;
    width: calc(100% - 78px);
}

.product-create {
    width: 85%;
    float: right;
    /* padding: 30px 30px 0 30px; */
}

.product-create > .product-create-box {
    box-shadow: 0 3px 7px 0 grey;
    border-radius: 10px;
    background-color: white;
    width: 100%;
    height: 85vh;
    max-height: 85vh;
    overflow: auto;   
    margin: 10px; 
}

.product-create > .product-create-box > .head-bar-product-create {
    background-color: #61c156;
    border-radius: 10px 10px 0 0;
    width: 100%;
}

.product-create > .product-create-box > .head-bar-product-create > .head-bar-title, 
.product-create > .product-create-box > .head-bar-product-create > .head-bar-title span {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding: 15px 0 15px 20px;
}

.product-create > .product-create-box > .body-product-create {
    padding: 20px;
}

.product-create > .product-create-box > .body-product-create .title {
    font-weight: 700;
    font-size: 18px;
}

.product-create > .product-create-box > .body-product-create > form > .image-view-upload {
    display: flex;
    margin: 10px 0 10px 0;
}

.product-create > .product-create-box > .body-product-create > form > .image-view-upload > .image-view {
    border-radius: 10px;
    border-style: solid;
    border-color: lightgray;
    /* margin: 0 30px 0 0; */
}

.product-create > .product-create-box > .body-product-create > form > .image-view-upload > .image-view img {
    border-radius: 10px;
    border-style: none;
}

.product-create > .product-create-box > .body-product-create > form > .image-view-upload > .image-upload {
    margin: auto 0 auto 30px;
}

.product-create > .product-create-box > .body-product-create > form > .image-view-upload > .image-upload button {
    padding: 10px;
    background-color: #61c156;
    color: white;
    border-style: none;
    border-radius: 10px;
}

.product-create > .product-create-box > .body-product-create > form > .image-view-upload > .image-upload i, 
.product-create > .product-create-box > .body-product-create > form > .image-view-upload > .image-upload label {
    font-size: 18px;
    padding: 0 10px 0 10px;
}

.product-create > .product-create-box > .body-product-create > form > .detail-product {
    display: flex;
}

.product-create > .product-create-box > .body-product-create > form > .detail-product div {
    width: 50%;
}

.product-create > .product-create-box > .body-product-create > form > .detail-product > .detail-product-left {
    margin-right: 10px;
}

.product-create > .product-create-box > .body-product-create > form > .detail-product > .detail-product-right {
    margin-left: 10px;
}

.product-create > .product-create-box > .body-product-create > form input {
    width: 100%;
    border-radius: 5px;
    border-style: solid;
    padding: 10px;
}

.product-create > .product-create-box > .body-product-create > form > .product-description {
    height: 200px;
    width: 100%;
    border-radius: 5px;
    border-style: solid;
    padding: 10px;
    border-width: 2px;
}

.product-create > .product-create-box > .body-product-create > form > button {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border-color: transparent;
    background-color: #61c156;
    color: white;
    cursor: pointer;
    width: 100px;
    margin : 10px;
}

.product-create > .product-create-box > .body-product-create > form > button > i {
    float: left;
    width: 40%;
}

.product-create > .product-create-box > .body-product-create > form > button > p {
    float: right;
    width: 60%;
}

/* 4K */
@media only screen and (max-width: 2560px) and (min-width: 1441px){

}

/* Laptop L */
@media only screen and (max-width: 1440px) and (min-width: 1025px) {    
    
}

/* Laptop */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
}

/* Tablet */
@media only screen and (max-width: 768px) and (min-width: 426px) {
    .product-create > .product-create-box > .head-bar-product-create > .head-bar-title, 
    .product-create > .product-create-box > .head-bar-product-create > .head-bar-title span,
    .product-create > .product-create-box > .body-product-create > form > .image-view-upload > .image-upload i, 
    .product-create > .product-create-box > .body-product-create > form > .image-view-upload > .image-upload label,
    .product-create > .product-create-box > .body-product-create > form > .title, 
    .product-create > .product-create-box > .body-product-create > form > .detail-product > .detail-product-left > .title,
    .product-create > .product-create-box > .body-product-create > form > .detail-product > .detail-product-right > .title{        
        font-size: 14px;    
    }

    .product-create > .product-create-box{
        margin-right: 40px;
    }

    .product-create > .product-create-box > .body-product-create > form > .detail-product > .detail-product-left > input,
    .product-create > .product-create-box > .body-product-create > form > .detail-product > .detail-product-right > input{
        font-size: 12px;
    }
}

    

/* Mobile L */
@media only screen and (max-width: 425px) and (min-width: 376px) {    
    .product-create{
        width: 100%;
        padding: 0;
        float: none;
        margin: 0 40px;
    }
    .product-create > .product-create-box > .head-bar-product-create > .head-bar-title, 
    .product-create > .product-create-box > .head-bar-product-create > .head-bar-title span,
    .product-create > .product-create-box > .body-product-create > form > .image-view-upload > .image-upload i, 
    .product-create > .product-create-box > .body-product-create > form > .image-view-upload > .image-upload label,
    .product-create > .product-create-box > .body-product-create > form > .detail-product > .detail-product-left > input,
    .product-create > .product-create-box > .body-product-create > form > .detail-product > .detail-product-right > input,
    .product-create > .product-create-box > .body-product-create > form > .title, 
    .product-create > .product-create-box > .body-product-create > form > .detail-product > .detail-product-left > .title,
    .product-create > .product-create-box > .body-product-create > form > .detail-product > .detail-product-right > .title{        
        font-size: 12px;    
    } 

    .product-create > .product-create-box > .body-product-create > form > .detail-product,
    .product-create > .product-create-box > .body-product-create > form > .detail-product > .detail-product-right > input{        
        flex-direction: column;        
    }
    
    .product-create > .product-create-box > .body-product-create > form > .detail-product > .detail-product-right{
        margin-left: 0px;
    }
    .product-create > .product-create-box > .body-product-create > form > .image-view-upload > .image-upload button{
        margin-left: -50px;
        font-size: 8px;        
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 2px;
        padding-right: 2px;        
    }

    .product-create > .product-create-box > .body-product-create > form > .image-view-upload{
        flex-direction: column;        
    }
    .product-create > .product-create-box > .body-product-create > form > .image-view-upload > .image-upload button{
        margin-left: -28px;
        margin-top: 10px;
    }
    .product-create > .product-create-box > .body-product-create > form > .image-view-upload > .image-view{
        width: 50%;
    }
    .product-create > .product-create-box > .body-product-create > form > .detail-product > .detail-product-left,
    .product-create > .product-create-box > .body-product-create > form > .detail-product > .detail-product-right{
        width: 100%;
    }

}

/* Mobile M & S */
@media only screen and (max-width: 375px) {
    .product-create{
        width: 100%;
        padding: 0;
        float: none;
        margin: 0 40px;
    }
    .product-create > .product-create-box > .head-bar-product-create > .head-bar-title, 
    .product-create > .product-create-box > .head-bar-product-create > .head-bar-title span,
    .product-create > .product-create-box > .body-product-create > form > .image-view-upload > .image-upload i, 
    .product-create > .product-create-box > .body-product-create > form > .image-view-upload > .image-upload label,
    .product-create > .product-create-box > .body-product-create > form > .detail-product > .detail-product-left > input,
    .product-create > .product-create-box > .body-product-create > form > .detail-product > .detail-product-right > input,
    .product-create > .product-create-box > .body-product-create > form > .title, 
    .product-create > .product-create-box > .body-product-create > form > .detail-product > .detail-product-left > .title,
    .product-create > .product-create-box > .body-product-create > form > .detail-product > .detail-product-right > .title{        
        font-size: 12px;    
    } 

    .product-create > .product-create-box > .body-product-create > form > .detail-product,
    .product-create > .product-create-box > .body-product-create > form > .detail-product > .detail-product-right > input{        
        flex-direction: column;        
    }
    
    .product-create > .product-create-box > .body-product-create > form > .detail-product > .detail-product-right{
        margin-left: 0px;
    }
    .product-create > .product-create-box > .body-product-create > form > .image-view-upload > .image-upload button{
        margin-left: -50px;
        font-size: 8px;        
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 2px;
        padding-right: 2px;        
    }

    .product-create > .product-create-box > .body-product-create > form > .image-view-upload{
        flex-direction: column;        
    }
    .product-create > .product-create-box > .body-product-create > form > .image-view-upload > .image-upload button{
        margin-left: -28px;
        margin-top: 10px;
    }
    .product-create > .product-create-box > .body-product-create > form > .image-view-upload > .image-view{
        width: 60%;
    }
    .product-create > .product-create-box > .body-product-create > form > .detail-product > .detail-product-left,
    .product-create > .product-create-box > .body-product-create > form > .detail-product > .detail-product-right{
        width: 100%;
    }
}

@media only screen and (max-width: 325px) {    
    .product-create{
        width: 100%;
        padding: 0;
        float: none;
        margin: 0 40px;
    }
    .product-create > .product-create-box > .head-bar-product-create > .head-bar-title, 
    .product-create > .product-create-box > .head-bar-product-create > .head-bar-title span,
    .product-create > .product-create-box > .body-product-create > form > .image-view-upload > .image-upload i, 
    .product-create > .product-create-box > .body-product-create > form > .image-view-upload > .image-upload label,
    .product-create > .product-create-box > .body-product-create > form > .detail-product > .detail-product-left > input,
    .product-create > .product-create-box > .body-product-create > form > .detail-product > .detail-product-right > input,
    .product-create > .product-create-box > .body-product-create > form > .title, 
    .product-create > .product-create-box > .body-product-create > form > .detail-product > .detail-product-left > .title,
    .product-create > .product-create-box > .body-product-create > form > .detail-product > .detail-product-right > .title{        
        font-size: 10px;    
    } 

    .product-create > .product-create-box > .body-product-create > form > .detail-product,
    .product-create > .product-create-box > .body-product-create > form > .detail-product > .detail-product-right > input{        
        flex-direction: column;        
    }
    
    .product-create > .product-create-box > .body-product-create > form > .detail-product > .detail-product-right{
        margin-left: 0px;
    }
    .product-create > .product-create-box > .body-product-create > form > .image-view-upload > .image-upload button{
        margin-left: -50px;
        font-size: 8px;        
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 2px;
        padding-right: 2px;        
    }

    .product-create > .product-create-box > .body-product-create > form > .image-view-upload{
        flex-direction: column;        
    }
    .product-create > .product-create-box > .body-product-create > form > .image-view-upload > .image-upload button{
        margin-left: -28px;
        margin-top: 10px;
    }
    .product-create > .product-create-box > .body-product-create > form > .image-view-upload > .image-view{
        text-align: center;
              
    }
    .product-create > .product-create-box > .body-product-create > form > .detail-product > .detail-product-left,
    .product-create > .product-create-box > .body-product-create > form > .detail-product > .detail-product-right{
        width: 100%;
    }
}