@import url(loginPage.css);
@import url(performancePage.css);
@import url(productPage.css);
@import url(category.css);
@import url(addProduct.css);
@import url(order.css);
@import url(detailOrder.css);
@import url(customerList.css);
@import url(banner.css);
/* @import url(notification.css); */


@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: #61c156;
    border-radius: 20px;
}

footer {
    text-align: center;
    margin: 15px;
}

header {
    background-color: white;
    position: sticky;
    z-index: 101;
    top: 0;
    box-shadow: 0 0 10px 0 grey;
    display: flex;
    width: 100%;
    height: 60px;
}

header > .left-navbar {
    display: flex;
    width: 87%;
}

header > .left-navbar > .fa-bars {
    font-size: 24px;
    margin: auto 30px auto 30px;
    cursor: pointer;
}

header > .left-navbar > .navbar-logo {
    max-width: 120px;
    margin: auto 0 auto 0;

}

header > .right-navbar {
    display: flex;
    width: 13%;
}

header > .right-navbar > .fa-bell {
    margin: auto 0 auto auto;
    font-size: 20px;
}

header > .right-navbar > .profile-box {
    margin: auto;
    box-shadow: 0px 2px 2px 1px grey;
    border-radius: 3px;
    display: flex;
    padding: 2px;
}

header > .right-navbar > .profile-box > .fa-circle {
    margin: 5px 10px 5px 15px;
    font-size: 20px;
}

header > .right-navbar > .profile-box > p {
    margin: auto 25px auto 5px;
    font-size: 14px;
}

.sidebar {
    position: absolute;
    z-index: 100;
    float: left;
    width: 15%;
    background-color: #61c156;
    height: 93%;
    display: flex;
    flex-direction: column;
}

.sidebar > .menu-bar {
    height: 92%;
}

.sidebar > .menu-bar > .menu > .menu-link > .nav-link {
    list-style: none;
}

.sidebar > .menu-bar > .menu > .menu-link > .nav-link > a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    align-items: center;
    display: flex;
    padding: 20px;
}

.sidebar > .menu-bar > .menu > .menu-link > .nav-link > a:hover {
    color: grey;
    background-color: white;
}

.sidebar > .menu-bar > .menu > .menu-link > .nav-link > a > i {
    padding: 0 30px 0 10px;
}

.sidebar > .bottom-content > li {
    list-style: none;
}

.sidebar > .bottom-content > li > a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    align-items: center;
    display: flex;
    padding: 20px;
}

.sidebar > .bottom-content > li > a:hover {
    color: grey;
    background-color: white;
    cursor: pointer;
}

.sidebar > .bottom-content > li > a > i {
    padding: 0 25px 0 10px;
}

.sidebar.close {
    width: 78px;
}

.sidebar.close > .menu-bar > .menu > .menu-link > li > a > span {
    visibility: hidden;
}

.sidebar.close > .bottom-content > li > a > span {
    visibility: hidden ;
}

/* 4K */
@media screen and (min-width: 1441px) and (max-width: 2560px) {

}

/* Laptop L */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
    
}

/* Laptop */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    header > .left-navbar {
        width: 80%;
    }

    header > .right-navbar {
        width: 20%;
    }
}

/* Tablet */
@media screen and (min-width: 426px) and (max-width: 768px)  {
    header > .left-navbar {
        width: 70%;
    }

    header > .right-navbar {
        width: 30%;
    }

    .sidebar {
        height: 116%;
    }

    .sidebar > .menu-bar {
        height: 95%;
    }

    .peformance > .status-box {
        grid-template-columns: auto auto;
    }

    .peformance > .recent-order-box td {
        font-size: 14px;
    }
   
}

/* Mobile L */
@media screen and (min-width: 376px) and (max-width: 425px)  {
    header > .left-navbar {
        width: 60%;
    }

    header > .right-navbar {
        width: 40%;
    }

    header > .right-navbar > .profile-box > p {
        display: none;
    }

    .peformance > .income-box {
        grid-template-columns: auto;
        margin: 5px 0;
    }

    .peformance > .status-box {
        max-width: 100%;
        overflow-x: auto;
    }

    .peformance > .status-box > .status-box-preview {
        width: 335px;
    }

    .sidebar {
        width: 0;
        display: none;
        float: none;
    }

    .sidebar > .menu-bar {
        height: 96%;
    }

    .peformance {
        width: 100%;
        padding: 0;
        float: none;
        margin: 0 40px;
    }

    .peformance > .income-box {
        width: 100%;
    }

    .peformance > .recent-order-box .cr {
        display: none;
    }

    .peformance > .recent-order-box > .recent-order-title p {
        width: 70%;
    }

    .peformance > .recent-order-box td {
        font-size: 14px;
    }
}

/* Mobile M & S */
@media screen and (max-width: 375px) {
    header > .left-navbar {
        width: 50%;
    }

    header > .right-navbar {
        width: 50%;
    }

    header > .right-navbar > .profile-box > p {
        display: none;
    }

    header > .right-navbar > .profile-box {
        margin: auto 20px;
    }

    .peformance > .income-box {
        grid-template-columns: auto;
    }

    .peformance > .income-box {
        grid-template-columns: auto;
        margin: 5px 0;
    }

    .peformance > .status-box {
        max-width: 100%;
        overflow-x: auto;
    }

    .peformance > .status-box > .status-box-preview {
        width: 285px;
    }

    .sidebar {
        width: 0;
        display: none;
        float: none;
    }

    .sidebar > .menu-bar {
        height: 96%;
    }

    .peformance {
        width: 100%;
        padding: 0;
        float: none;
        margin: 0 40px;
    }

    .peformance > .income-box {
        width: 100%;
    }

    .peformance > .recent-order-box .cr {
        display: none;
    }

    .peformance > .recent-order-box > .recent-order-title p {
        width: 60%;
    }

    .peformance > .recent-order-box td {
        font-size: 12px;
    }
}