@import url(loginPage.css);
@import url(performancePage.css);
@import url(productPage.css);
@import url(category.css);
@import url(addProduct.css);
@import url(order.css);
@import url(detailOrder.css);
@import url(customerList.css);
@import url(banner.css);
/* @import url(notification.css); */


@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: #61c156;
    border-radius: 20px;
}

footer {
    text-align: center;
    margin: 15px;
}

body {
    overflow-y: hidden;
}

header {
    background-color: white;
    position: sticky;
    z-index: 101;
    top: 0;
    box-shadow: 0 0 10px 0 grey;
    display: flex;
    width: 100%;
    height: 60px;
}

header > .left-navbar {
    display: flex;
    width: 87%;
}

header > .left-navbar > .fa-bars {
    font-size: 24px;
    margin: auto 30px auto 30px;
    cursor: pointer;
}

header > .left-navbar > .navbar-logo {
    max-width: 120px;
    margin: auto 0 auto 0;

}

header > .right-navbar {
    display: flex;
    width: 13%;
}

header > .right-navbar > .fa-bell {
    margin: auto 0 auto auto;
    font-size: 20px;
}

header > .right-navbar > .profile-box {
    margin: auto;
    box-shadow: 0px 2px 2px 1px grey;
    border-radius: 3px;
    display: flex;
    padding: 2px;
}

header > .right-navbar > .profile-box > .fa-circle {
    margin: 5px 10px 5px 15px;
    font-size: 20px;
}

header > .right-navbar > .profile-box > p {
    margin: auto 25px auto 5px;
    font-size: 14px;
}

.sidebar {
    position: absolute;
    z-index: 100;
    float: left;
    width: 15%;
    background-color: #61c156;
    display: flex;
    flex-direction: column;
}

.sidebar, main {
    height: 93%;
}

.sidebar > .menu-bar {
    height: 92%;
}

.sidebar > .menu-bar > .menu > .menu-link > .nav-link {
    list-style: none;
}

.sidebar > .menu-bar > .menu > .menu-link > .nav-link > a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    align-items: center;
    display: flex;
    padding: 20px;
}

.sidebar > .menu-bar > .menu > .menu-link > .nav-link > a:hover {
    color: grey;
    background-color: white;
}

.sidebar > .menu-bar > .menu > .menu-link > .nav-link > a > i {
    padding: 0 30px 0 10px;
}

.sidebar > .bottom-content > li {
    list-style: none;
}

.sidebar > .bottom-content > li > a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    align-items: center;
    display: flex;
    padding: 20px;
}

.sidebar > .bottom-content > li > a:hover {
    color: grey;
    background-color: white;
    cursor: pointer;
}

.sidebar > .bottom-content > li > a > i {
    padding: 0 25px 0 10px;
}

.sidebar.close {
    width: 78px;
}

.sidebar.close > .menu-bar > .menu > .menu-link > li > a > span {
    visibility: hidden;
}

.sidebar.close > .bottom-content > li > a > span {
    visibility: hidden ;
}

/* 4K */
@media screen and (min-width: 1441px) and (max-width: 2560px) {

}

/* Laptop L */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .product > .product-box > .head-bar-product > .create-product > a i {
        margin: auto 0 auto 25%;
    }

    .peformance > .recent-order-box {
        height: 430px;
    }
    
    .product > .product-box > .body-list-product {
        max-height: 680px;
    }
}

/* Laptop */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    /* header */
    header > .left-navbar {
        width: 80%;
    }

    header > .right-navbar {
        width: 20%;
    }

    /* Main */

    .peformance > .income-box > .income-box-preview > .income-title,
    .peformance > .status-box > .status-box-preview > .status-detail > .status-detail-title ,
    .peformance > .recent-order-box > .recent-order-title > p {
        font-size: 14px;
    }

    .peformance > .status-box > .status-box-preview > i {
        font-size: 46px;
    }

    .peformance > .recent-order-box {
        height: 400px;
    }

    .product > .product-box > .body-list-product {
        max-height: 650px;
    }

    .product > .product-box > .head-bar-product > .head-bar-title {
        font-size: 18px;
        width: 20%;
    }

    .product > .product-box > .head-bar-product > .search-bar {
        width: 60%;
    }

    .product > .product-box > .head-bar-product > .create-product {
        width: 20%;
    }

    .product > .product-box > .head-bar-product > .create-product > a i {
        margin: auto 0 auto 25%;
        font-size: 14px;
    }

    .product > .product-box > .head-bar-product > .create-product > a p {
        font-size: 14px;
    }

    .product > .product-box > .body-list-product > .list-product > thead td,
    .product > .product-box > .body-list-product > .list-product > tbody > tr > td {
        font-size: 16px;
    }
}

/* Tablet */
@media screen and (min-width: 426px) and (max-width: 768px)  {
    body {
        overflow-y: auto;
    }

    /* header */
    header > .left-navbar {
        width: 70%;
    }

    header > .right-navbar {
        width: 30%;
    }

    /* sidebar */

    .sidebar > .menu-bar {
        height: 95%;
    }

    /* main */
    .peformance > .income-box > .income-box-preview > .income-detail {
        margin: 15px auto;
        font-size: 24px;
    }

    .peformance > .status-box {
        grid-template-columns: auto auto;
    }

    .peformance > .status-box > .status-box-preview > .status-detail {
        width: 70%;
    }

    .peformance > .status-box > .status-box-preview > .status-detail > .status-detail-title {
        margin: 10px;
    }

    .peformance > .status-box > .status-box-preview > .status-detail > .status-detail-info {
        margin: 10px auto;
    }

    .peformance > .recent-order-box {
        height: 380px;
    }

    .peformance > .status-box > .status-box-preview > i {
        font-size: 32px;
        width: 30%;
    }

    .peformance > .recent-order-box td {
        font-size: 14px;
    }

    .peformance > .income-box > .income-box-preview > .income-title,
    .peformance > .status-box > .status-box-preview > .status-detail > .status-detail-title ,
    .peformance > .recent-order-box > .recent-order-title > p {
        font-size: 14px;
    }

    .product > .product-box > .body-list-product {
        max-height: 650px;
    }

    .product > .product-box > .head-bar-product > .head-bar-title {
        font-size: 18px;
        width: 20%;
    }

    .product > .product-box > .head-bar-product > .search-bar {
        width: 70%;
    }

    .product > .product-box > .head-bar-product > .create-product {
        width: 10%;
        margin: 15px 30px;
    }

    .product > .product-box > .head-bar-product > .create-product > a i {
        margin: auto 0 auto 35%;
        font-size: 14px;
    }

    .product > .product-box > .head-bar-product > .create-product > a p {
        display: none;
    }

    .product > .product-box > .body-list-product > .list-product > thead td,
    .product > .product-box > .body-list-product > .list-product > tbody > tr > td {
        font-size: 16px;
    }
}

/* Mobile L */
@media screen and (min-width: 376px) and (max-width: 425px)  {
    body {
        overflow-y: auto;
    }

    /* header */
    header > .left-navbar {
        width: 60%;
    }

    header > .right-navbar {
        width: 40%;
    }

    header > .right-navbar > .profile-box > p {
        display: none;
    }

    /* sidebar */
    .sidebar, .sidebar.close {
        width: 0;
        display: none;
        float: none;
    }

    .sidebar > .menu-bar {
        height: 96%;
    }

    /* main */
    .peformance > .income-box {
        grid-template-columns: auto;
        margin: 5px 0;
    }

    .peformance > .status-box {
        max-width: 100%;
        overflow-x: auto;
    }

    .peformance > .status-box > .status-box-preview {
        width: 335px;
    }

    .peformance,
    .product {
        width: 100%;
        padding: 0;
        float: none;
        margin: 0 40px;
    }

    .peformance > .income-box {
        width: 100%;
    }

    .peformance > .recent-order-box .cr {
        display: none;
    }

    .peformance > .recent-order-box > .recent-order-title p {
        width: 70%;
    }

    .peformance > .recent-order-box td {
        font-size: 14px;
    }

    .peformance > .income-box > .income-box-preview > .income-title,
    .peformance > .status-box > .status-box-preview > .status-detail > .status-detail-title ,
    .peformance > .recent-order-box > .recent-order-title > p {
        font-size: 14px;
    }

    .product > .product-box {
        margin-top: 20px;
    }

    .product > .product-box > .head-bar-product > .head-bar-title {
        width: 20%;
        margin: auto 15px;
        font-size: 14px;
    }

    .product > .product-box > .head-bar-product > .search-bar {
        width: 70%;
    }

    .product > .product-box > .head-bar-product > .create-product {
        width: 10%;
        margin: auto 10px;
    }

    .product > .product-box > .head-bar-product > .create-product > a i {
        margin: auto 0 auto 20%;
    }

    .product > .product-box > .head-bar-product > .create-product > a p {
        display: none;
    }

    .product > .product-box > .body-list-product {
        margin: 10px 5px;
    }

    .product > .product-box > .body-list-product {
        max-height: none;
    }

    .product > .product-box > .body-list-product > .list-product > thead td {
        font-size: 14px;
    }

    .product > .product-box > .body-list-product > .list-product > tbody > tr > td {
        font-size: 12px;
    }

    .product > .product-box > .body-list-product > .list-product > tbody > tr > td > img {
        max-width: 70px;
        object-fit: cover;
        object-position: center;
    }

    .product > .product-box > .body-list-product > .list-product > tbody > tr > td .edit,
    .product > .product-box > .body-list-product > .list-product > tbody > tr > td .delete {
        padding: 5px 4px;
        margin: 1px;
    }

    .product > .product-box > .body-list-product > .list-product > tbody > tr > td .edit i,
    .product > .product-box > .body-list-product > .list-product > tbody > tr > td .delete i {
        font-size: 10px;
    }
}

/* Mobile M & S */
@media screen and (max-width: 375px) {
    body {
        overflow-y: auto;
    }

    /* header */
    header > .left-navbar {
        width: 50%;
    }

    header > .right-navbar {
        width: 50%;
    }

    header > .right-navbar > .profile-box > p {
        display: none;
    }

    header > .right-navbar > .profile-box {
        margin: auto 20px;
    }
    
    /* sidebar */
    .sidebar {
        width: 0;
        display: none;
        float: none;
    }

    .sidebar > .menu-bar {
        height: 96%;
    }

    /* main */
    .peformance > .income-box {
        grid-template-columns: auto;
    }

    .peformance > .income-box {
        grid-template-columns: auto;
        margin: 5px 0;
    }

    .peformance > .status-box {
        max-width: 100%;
        overflow-x: auto;
    }

    .peformance > .status-box > .status-box-preview {
        width: 285px;
    }

    .peformance,
    .product {
        width: 100%;
        padding: 0;
        float: none;
        margin: 0 40px;
    }

    .peformance > .income-box {
        width: 100%;
    }

    .peformance > .recent-order-box .cr {
        display: none;
    }

    .peformance > .recent-order-box > .recent-order-title p {
        width: 60%;
    }

    .peformance > .recent-order-box td {
        font-size: 12px;
    }

    .peformance > .income-box > .income-box-preview > .income-title,
    .peformance > .status-box > .status-box-preview > .status-detail > .status-detail-title ,
    .peformance > .recent-order-box > .recent-order-title > p {
        font-size: 14px;
    }

    .product > .product-box {
        margin-top: 20px;
    }

    .product > .product-box > .head-bar-product > .head-bar-title {
        width: 20%;
        margin: auto 15px;
        font-size: 12px;
    }

    .product > .product-box > .head-bar-product > .search-bar {
        width: 65%;
    }

    .product > .product-box > .head-bar-product > .create-product {
        width: 15%;
        margin: auto 10px;
    }

    .product > .product-box > .head-bar-product > .create-product > a i {
        margin: auto 0 auto 25%;
    }

    .product > .product-box > .head-bar-product > .create-product > a p {
        display: none;
    }

    .product > .product-box > .body-list-product {
        margin: 10px 5px;
    }

    .product > .product-box > .body-list-product > .list-product > thead td {
        font-size: 12px;
    }

    .product > .product-box > .body-list-product > .list-product > tbody > tr > td {
        font-size: 10px;
    }

    .product > .product-box > .body-list-product > .list-product > tbody > tr > td > img {
        max-width: 50px;
        object-fit: cover;
        object-position: center;
    }

    .product > .product-box > .body-list-product > .list-product > tbody > tr > td .edit,
    .product > .product-box > .body-list-product > .list-product > tbody > tr > td .delete {
        padding: 5px 4px;
        margin: 1px;
    }

    .product > .product-box > .body-list-product > .list-product > tbody > tr > td .edit i,
    .product > .product-box > .body-list-product > .list-product > tbody > tr > td .delete i {
        font-size: 10px;
    }
}